body {
  font-family: "Arial", sans-serif; /* Making sure we have a readable font */
  background-color: #f7f7f7; /* Light background for contrast */
}

.shelf {
  width: 80vw;
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border: 1rem solid #a89f91;
  background-color: #e5e0da;
  border-radius: 1rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1rem 0;
  position: relative;
}

.row::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #a89f91;
  border-radius: 0.5rem;
}

.book {
  margin: 0 0.2vw;
  width: 3vw; /* Fixed width */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  position: relative;
}

.book-spine {
  display: inline-flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
  width: 100%; /* Takes full width of the book */
  padding: 0.5vw 0; /* Some vertical padding */
  background-color: inherit;
}

.book p {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}
