body {
  font-family: "Arial", sans-serif;
  background-color: #493638;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: white;
}

.sorter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shelf {
  width: 80vw;
  max-width: 1200px;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  border: 1rem solid #a89f91;
  background-color: #e5e0da;
  border-radius: 1rem;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  margin: 1rem 0;
  position: relative;
}

.row:last-child {
  justify-content: flex-start;
}

.row::before {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 100%;
  height: 1rem;
  background-color: #a89f91;
  border-radius: 0.5rem;
}

.book {
  margin: 0 0.2vw;
  width: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  position: relative;

  border-radius: 5px;
}

.book-spine {
  display: inline-flex;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0.5vw 0;
  background-color: inherit;
  border-radius: 5px;
}

.book p {
  color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1rem;
  font-weight: bold;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

@media (max-width: 1000px) {
  section {
    width: 75vw;
  }

  .book {
    width: 4vw;
  }

  .book p {
    color: white;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.7rem;
    font-weight: bold;
  }
}
